<% content_for :title do %>
Introducing the Activity Feed
<% end %>
<div class="blog">
  <h1 class='center' id='introducing_the_activity_feed'>Introducing the Activity Feed</h1>
<hr />
<p>We are proud to announce the addition of a great new feature to our software. Over the past few days we have rolled out to all subscriptions of all plan levels an activity feed that gives our customers a great way to view how their company is using our software. The activity feed gives you a history of all the actions that are happening in your account in reverse chronological order. We have leveraged the software feature infinite page scrolling into our activity feed, so that you can view activity as far back as the creation of your account without clicking through pages or even refreshing the page. All your account activity is transparently visible to you our customer.</p>

<p>The activity feed has three different sections available to your employees. The default and first view is a look into the signed in employee&#8217;s activity. For example, if you are signed in you will be able to view a history of all the time off requests you have submitted or changed since you joined Zarlu. The second view gives managers a look into all activity for each of the employees that they are managing time off requests for. The manager view also gives managers a quick and easy way to see if co-workers have added time off that they (the manager) need to approve or reject. It also has the benefit of keeping managers updated with all of the schedules they are responsible for managing. The final view gives employees a view of all time off and schedule changes throughout their company.</p>

<p>You can check the activity feed for yourself by signing in to your subscription. The link is on the top of every page in the navigation bar.</p>
  <div class="mt50 center">
    <a class="btn btn-primary btn-huge" href="http://www.zarlu.com">Zarlu: Employee Time & Attendance Software</a>
  </div>
</div>
