<% content_for :title do %>
When to Take Sick Days
<% end %>
<div class="blog">
  <h1 class='center' id='when_to_take_sick_days'>When to Take Sick Days</h1>
<hr />
<p>Sick days have a complicated relationship with employers and employees alike. It&#8217;s almost impossible to find an employee that will not occasionally call in sick for a personal reason, and there are many staff members that make it a habit. In order to adjust to this, most employers have to accept that sick days will sometimes be used as time off. By tracking their staff&#8217;s attendance with tracking software, managers can avoid letting their staff take advantage of their good faith and make sure that these situations don&#8217;t leave them in a bind.</p>

<p>Most companies give their staff both paid time off, and sick days. These are usually accrued by the paycheck based on the hours that the employees have worked, so it can be difficult to keep track of which staff members are still owed what hours. Paid time off is usually used as a staff member&#8217;s vacation time. A good schedule tracking software will make it easy for a business to pull up a staff member&#8217;s attendance and see exactly what hours they are due and if they are going in excess of them.</p>

<p>From the staff member&#8217;s side, while it may be easy to claim some free time by pretending to be sick, it isn&#8217;t a good habit to get into. Because nearly every business does track their staff&#8217;s schedule, managers can see if a staff member is establishing a trend of being sick more than they should be. This type of action will shake a manager&#8217;s faith in their staff, and they may begin to ask for medical slips and paperwork before accepting any more sick leave.</p>

<p>Sick leave is the right to use accumulated days off any time a staff member feels that for medical reasons they will be incapable of doing their job. This does include any medical procedures that are necessary for their health, their recovery, and any various illnesses that may come up. It does not include other personal reasons such as sleeping in late.</p>

<p>Attendance software can be an invaluable way of identifying problem staff or seeing staff that may be having issues that are consistently conflicting with their ability to do their job. Because a business can simply pull up a calendar and see a staff member&#8217;s entire history, it&#8217;s easy to find patterns that are causing problems. And, while staff may not consider this, many managers will notice if the calendar shows that the staff member only seems to take sick days directly before or after a weekend.</p>

<p>Sick days are earned by staff members with the hours that they put into the company, which means that they are truly entitled to these hours when they need them. Any staff member that is truly ill or has medical problems that need to be taken care of should never feel guilty taking a sick day. That said, even though they are earned, they are earned for a specific purpose and need to be used for only that purpose.</p>
  <div class="mt50 center">
    <a class="btn btn-success btn-huge" href="http://www.zarlu.com/users/sign_up"><i class="icon-plus-sign icon-large"></i>&nbsp;&nbsp;Attendance Software Free 30 Day Trial</a>
  </div>
</div>
