<%= form_for(holiday, html: { class: "accrual_form" }) do |f| %>
  <div class="row">
    <div class="offset1 span4">
      <%= f.text_field :name, class: "input-large" %>
    </div>
    <div class="span2">
      <%= f.text_field :date, class: "input-small holiday_date_picker", readonly: "readonly" %>
    </div>
    <div class="span2">
      <%= f.submit "Add", class: "btn btn-success btn-small ml5", data: { disable_with: "Adding..." } %>
    </div>
  </div>
<% end %>
