<h3><%= log.starts_at.in_time_zone('Pacific Time (US & Canada)').strftime('%b %d %Y') %></h3>
<dl>
  <dt>Event Type</dt>
  <dd><%= Event.kinds[log.kind].first %></dd>
  <dt>Duration</dt>
  <dd><%= log.duration %> hours</dd>
</dl>
<hr/>