<div class="container paper">
  <p class="pull-right">(Only managers can view this page)</p>
  <div class="row">
    <div class="span11">
      <h4>Pending Employee Time Off Requests</h4>
      <table class="table">
        <thead>
          <th>Employee</th>
          <th>Date</th>
          <th>Subject</th>
          <th>Explanation</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <% cache @my_employees do %>
            <%= render partial: "pending_event", collection: @my_employee_pending_events %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
