<div class="container paper">
  <div class="row">
    <div class="span3 highlight_background pb200">
      <%= render partial: "employees/sidebar", locals: { employee: @employee, event_durations: @event_durations, manager: @manager, time_zone: @subscriber.time_zone } %>
    </div>
    <div class="span9">
      <div class="center mt10">
        <% if @display == "logs" %>
          <%= render partial: "employees/logs" %>
        <% else %>
          <%= render partial: "employees/charts" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
