<% content_for :title do %>
10 Countries with the Most Employee Time Off
<% end %>
<div class="blog">
  <h1 class='center' id='10_countries_with_the_most_employee_time_off'>10 Countries with the Most Employee Time Off</h1>
<hr />
<p>Every country has its own set of labor laws governing how many days an employee is minimally guaranteed to use for time off. The United States does not have a minimum set at the federal level for time off, but many state and local governments have their own minimums amounts.</p>

<p>Most US employees who do receive time off have about 8 national holidays and 10 non-specified &#8220;floating&#8221; days to be used anytime during the year. Many of the countries in the top of this list mandate a minimum time off day due to generous labor laws. For example, the European Union requires its members to have at minimum 20 days of employee time off in addition to national holidays. When looking at the top ten list below it is apparent how government laws can impact an employee&#8217;s benefits.</p>

<h3 id='paid_time_off_with_10_years_tenure'>Paid Time Off with 10 years&#8217; tenure</h3>

<h5 id='1_44__finland'>1. 44 - Finland</h5>

<h5 id='2_40__morocco'>2. 40 - Morocco</h5>

<h5 id='2_40__france'>2. 40 - France</h5>

<h5 id='2_40__israel'>2. 40 - Israel</h5>

<h5 id='2_40__lithuania'>2. 40 - Lithuania</h5>

<h5 id='6_39__united_arab_emirates'>6. 39 - United Arab Emirates</h5>

<h5 id='7_38__austria'>7. 38 - Austria</h5>

<h5 id='7_38__estonia'>7. 38 - Estonia</h5>

<h5 id='7_38__malta'>7. 38 - Malta</h5>

<h5 id='10_37__greece'>10. 37 - Greece</h5>

<p><a href='http://money.cnn.com/2007/06/12/pf/vacation_days_worldwide/#table'>Source</a></p>

<p>Finland leads the list with an average of 44 days of employee time off for employees with at least 10 years of tenure. This is a huge difference from the United States which averages 25 days of employee time off per year. This total is the average number of vacation days for an employee in the country specified including national holidays.</p>
  <div class="mt50 center">
    <a class="btn btn-success btn-huge" href="http://www.zarlu.com/users/sign_up"><i class="icon-plus-sign icon-large"></i>&nbsp;&nbsp;Attendance Software Free 30 Day Trial</a>
  </div>
</div>
