<div class="company_setting">
  <div class="setting_header">
    <h3>Holiday Leave Settings</h3>
  </div>
  <div class="row">
    <div class="span4 setting_label">Enabled</div>
    <div class="offset1 span4">
      <%= best_in_place holiday, :enabled, path: company_setting_path(holiday), type: :checkbox, activator: "#icon-edit-subscriber-holiday-enabled" %>
      <i id="icon-edit-subscriber-holiday-enabled" class="icon-edit"></i>
    </div>
  </div>
  <div class="row">
    <div class="span4 setting_label">Default Accrual Rate</div>
    <div class="offset1 span4">
      <%= best_in_place holiday, :default_accrual_rate, path: company_setting_path(holiday), activator: "#icon-edit-subscriber-holiday-default-accrual" %>
      Hours&nbsp;<i id="icon-edit-subscriber-holiday-default-accrual" class="icon-edit"></i>
    </div>
  </div>
  <div class="row">
    <div class="span4 setting_label">Accrual Frequency</div>
    <div class="offset1 span4">
      Every&nbsp;<%= best_in_place holiday, :accrual_frequency, path: company_setting_path(holiday), type: :select, collection: CompanySetting.accrual_frequencies,
 activator: "#icon-edit-subscriber-holiday-accrual-frequency" %>
      <i id="icon-edit-subscriber-holiday-accrual-frequency" class="icon-edit"></i>
    </div>
  </div>
  <div class="row">
    <div class="span4 setting_label">Next Accrual Date</div>
    <div class="offset1 span4">
      <%= best_in_place holiday, :start_accrual, path: company_setting_path(holiday), type: :date, activator: "#icon-edit-subscriber-holiday-start-accrual", display_as: :display_start_accrual %>
      <i id="icon-edit-subscriber-holiday-start-accrual" class="icon-edit"></i>
    </div>
  </div>
</div>
