<div class="company_setting">
  <div class="setting_header">
    <h3>Other Leave Settings</h3>
  </div>
  <div class="row">
    <div class="span4 setting_label">Enabled</div>
    <div class="offset1 span4">
      <%= best_in_place other, :enabled, path: company_setting_path(other), type: :checkbox, activator: "#icon-edit-subscriber-other-enabled" %>
      <i id="icon-edit-subscriber-other-enabled" class="icon-edit"></i>
    </div>
  </div>
  <div class="row">
    <div class="span4 setting_label">Default Accrual Rate</div>
    <div class="offset1 span4">
      <%= best_in_place other, :default_accrual_rate, path: company_setting_path(other), activator: "#icon-edit-subscriber-other-default-accrual" %>
      Hours&nbsp;<i id="icon-edit-subscriber-other-default-accrual" class="icon-edit"></i>
    </div>
  </div>
  <div class="row">
    <div class="span4 setting_label">Accrual Frequency</div>
    <div class="offset1 span4">
      Every&nbsp;<%= best_in_place other, :accrual_frequency, path: company_setting_path(other), type: :select, collection: CompanySetting.accrual_frequencies,
 activator: "#icon-edit-subscriber-other-accrual-frequency" %>
      <i id="icon-edit-subscriber-other-accrual-frequency" class="icon-edit"></i>
    </div>
  </div>
</div>
