<% content_for :title do %>
  Business Time Tracking Software
<% end %>
<% content_for :meta_description do %>
  Zarlu provides businesses with time tracking software to manage employee schedules and attendance.
<% end %>
<% cache "articles_business_time_tracking" do %>
  <div class="sign_up_banner">
    <div class="container row">
      <div class="span9">
        <h3 class="margin0">Take control of employee attendance today with Zarlu.</h3>
      </div>
      <div class="span3">
        <%= link_to "<i class='icon-plus-sign icon-large'></i>&nbsp;&nbsp;Free 30 Day Trial".html_safe, new_user_registration_path, class: "btn btn-success btn-large" %>
      </div>
    </div>
  </div>
  <div class="blog">
    <h1 class="center">Business Time Tracking</h1>
    <p>
    Zarlu provides our customers with the ability to track easily business attendance. Tracking employee attendance can be a truly daunting task to Human Resource (HR) departments or managers if they are still using antiquated paper or spreadsheet attendance systems.
    </p>
    <p>
    In a spreadsheet attendance system, a manager or HR personnel must manually manipulate the spreadsheet rows and columns, use complex spreadsheet formulas, and master the thousands of buttons that spreadsheet software provides. In addition, a manager or HR person must view the data in hard to read columns and rows that increase the probability of recording errors. Managers or HR personnel must then manually manipulate the raw attendance data and convert it into understandable and readable information that can ultimately be used to understand employees' attendance. This process can hours, days, or even more precious time.
    </p>
    <p>
    Zarlu provides a completely automated way for managers and HR departments to track and view employee attendance easily. Zarlu offers each employee a calendar to view his or her schedule and an activity feed that has three different views showcasing how employees and managers are using Zarlu. With realtime calculations and data, the benefits over traditional spreadsheet software are obvious.
    </p>
    <p>
    The calendar provides managers with a detailed insight into when their employees are scheduling leave. The calendar color codes events on the calendar by type of leave: vacation, sick, personal, holiday, unpaid, or other. By color coding the events by category, Zarlu allows managers to track employee attendance by category from a monthly, weekly, or daily view for each employee they manage.
    </p>
    <p>
    As mentioned Zarlu also provides an account with an activity feed with several views that track all attendance changes and employee activity. The first and default schedule tracking view is “My Activity”. The "My Activity" view allows employees to track and view how they are using Zarlu. This activity feed features a complete history of each employee’s activity on Zarlu. Each event in the activity feed has a date and time stamp with a description of the activity. Zarlu tracks schedule changes, time-off request rejections, time-off request approvals, and several other important events. With access to their activity, employees can easily view and track their attendance changes as far back as their account creation.
    </p>
    <p>
    A second view, only accessible to managers, provides a list of all schedule changes for employees that a manager is supervising. A manager can easily know whether there is a time- off request that needs to be reviewed and view how all employees are using Zarlu. Each activity also includes a picture of the employee (if provided) that can help managers challenged with poor name recognition, or who have a large number of employees, or who have multiple employees with the same or similar names.
    </p>
    <p>
    A third schedule tracking view is the "company activity" feed. This feed gives an overview of every activity that has happened in an account since it was created. At Zarlu, we strive to make data as seamless and transparent as possible so as to provide as much insight into employee schedules as possible. The "company activity" feed can provide insight into when employees are submitting time-off, how quickly schedules are being reviewed, and notify when new employees have been successfully added to Zarlu.
    </p>
    <p>
    In addition to the "activity feeds", Zarlu allows managers to track employee time-off by specific categories for a given year. The employee page lists all of a company's employees and specifies how much vacation, sick, holiday, personal, or unpaid time an employee has used. With this view, it is easy to track employees who may be abusing a company’s attendance or leave policies.
    </p>
    <p>
    With all the above schedule tracking features, Zarlu provides an incredible web-based experience for both small and large businesses. As a web-based attendance program, Zarlu also provides customers with software updates that add additional functionality to Zarlu.
    </p>
  </div>
<% end %>
