<% content_for :title do %>
  Employee Attendance Calendar for Businesses
<% end %>
<% content_for :meta_description do %>
Zarlu provides calendar software for each employee to mange their attendance and time.
<% end %>
<div class="blog">
  <h1 class="center">Employee Attendance Calendar</h1>
  <p>
  Managing employee attendance can quickly become an overwhelming task. Between the paperwork, forms, and spreadsheets the simple task of allowing employees to manage their schedule and for a business to approve their schedule can snow ball into a bureaucratic mess.
  </p>
  <p>
  Zarlu cuts the red tape for our customers and gets to the crux of the business attendance process. Zarlu accomplishes this task by putting the focus of managing schedules on a tool that humans have used for thousands of years, the calendar. The calendar is the centerpiece of Zarlu's software and provides everything an employee needs to submit a time off request and everything a manager needs to keep track of each employee schedule.
  </p>
  <p>
  Zarlu’s calendar has three distinct views that allows your co-workers to manage their time. The Zarlu calendar monthly view gives each employee a view of his or her schedule for the entire month. The weekly view gives an employee the ability to just look at a specific week and make fine grain schedule changes. Finally, the daily view allows an employee to just focus on their schedule for a single day and adjust their schedule in as little as 15 minute time slots.
  </p>
  <p>
  Beyond the time views of the calendar, Zarlu’s calendar allows three different attendance views to empower customers with all the information they need while viewing schedules.
  </p>
  <p>
  The first and default view when clicking on the calendar is the employee view. The employee view allows an employee to make schedule changes directly on a calendar. An employee simply clicks on a day or time slot and is prompted to categorize the time off request (vacation, sick, personal, etc) and to give an explanation of their schedule change for their manager to read while approving or rejecting their leave request. The employee fills out the two above mentioned fields and then clicks save. After clicking save, the employee’s time off request is added to their calendar and submitted to their manager for approval.  It’s that simple!
  </p>
  <p>
  In addition to saving new attendance changes, the calendar also functions as a tool to modify already submitted schedule events. Your co-workers can click on an event to change the categorization of the time off request or description. Changing the time of an event on the calendar is also easy. Simply click on an event on the calendar and drag it to the desired date or time to change when it is scheduled for. When employees release their mouse, the calendar is updated and their schedule change is saved instantly. Additionally, an event’s time can be lengthen or shortened by clicking on the bottom of the event and dragging the mouse to the desired event length.
  </p>
  <p>
  The second attendance calendar view is reserved for your co-workers who have been assigned the manager role. Managers are given a second calendar view that shows the schedule for each employee that they manage by month, week, or day. Employee time off is color coded by type of request (sick, vacation, personal, etc) and labeled with the employee’s name. With this view, a manager can stay on top of their management responsibilities by always having a way to check their employees’ schedules.
  </p>
  <p>
  The final attendance view gives a look into employee schedules for the entire company. Zarlu customers can easily see who will be in the office, who’s out sick, and who’s on vacation with a single click. The company calendar brings transparency to a business’ attendance and gives an overview of employee schedules. This view also has a monthly, weekly, or daily view option to let Zarlu customers choose the view that best fits their needs.
  </p>
  <p>
  In addition, to the daily, weekly, and monthly views it is worth noting that Zarlu gives businesses the ability to view not just the current month. Zarlu’s attendance calendar can be used to look at employee attendance from the past or future. This feature can be a great way for a business to use an employee’s past attendance patterns to predict when they will take off time in the future. For example, if several employees have used vacation time for July 4th for the past few years, a manager can suggest not hosting the company retreat on July 4th since the attendance data Zarlu provides shows that employees enjoy using the July 4th week for vacations. The event can be schedule for a different week and your employees can continue to enjoy their annual summer vacation. A win for company morale and time management!
  </p>
  <p>
  With all the benefits of using a web based calendar, a spreadsheet or paper process for managing employee schedules is dated and an unnecessary waste of company time. As a web based attendance solution, Zarlu provides all of the above mentioned benefits while also being accessible from any web enabled device from anywhere in the world. Business attendance software has never been more efficient, accessible, and intuitive.
  </p>
</div>
