<% content_for :title do %>
  Employee Attendance Calendar for Businesses
<% end %>
<% content_for :meta_description do %>
  Zarlu provides calendar software for each employee to mange their attendance and time.
<% end %>
<% cache "articles_employee_attendance_calendar" do %>
  <div class="sign_up_banner">
    <div class="container row">
      <div class="span9">
        <h3 class="margin0">Take control of employee attendance today with Zarlu.</h3>
      </div>
      <div class="span3">
        <%= link_to "<i class='icon-plus-sign icon-large'></i>&nbsp;&nbsp;Free 30 Day Trial".html_safe, new_user_registration_path, class: "btn btn-success btn-large" %>
      </div>
    </div>
  </div>
  <div class="blog">
    <h1 class="center">Employee Attendance Calendar</h1>
    <p>
    Managing employee attendance can quickly become an overwhelming task. Given all the paperwork, forms, and spreadsheets businesses now use, the apparent simple tasks of allowing employees to manage their own schedules and for a business to approve their schedules can snowball into a bureaucratic mess.
    </p>
    <p>
    Zarlu cuts the red tape for its customers and gets to the crux of the business attendance process. Zarlu accomplishes these tasks by putting the focus of managing schedules on a tool that humans have used for thousands of years -the calendar. The calendar is the centerpiece of Zarlu's software and provides everything an employee needs to submit a time-off request and everything a manager needs to keep track of each supervised employee's schedule.
    </p>
    <p>
    Zarlu’s calendar has three distinct views that allow employees to manage their time. The Zarlu calendar "monthly view" provides each employee a view of his or her schedule for the entire month. The "weekly view" provides an employee the ability to look just at a specific week and fine tune schedule changes. Finally, the "daily view" allows an employee to focus just on his or her schedule for a single day and adjust the schedule in as little as 15 minute time slots.
    </p>
    <p>
    Beyond the time views of the calendar, Zarlu’s calendar allows three different attendance views to empower customers with all the information they need to view their employees' schedules.
    </p>
    <p>
    The first and default view when clicking on the calendar is the "employee view". The "employee view" allows an employee to make schedule changes directly on a calendar. An employee simply clicks on a day or time slot and is prompted to categorize the time- off request (vacation, sick, personal, etc.) and to provide a simple explanation of the schedule change for a manager to read so as to approve or reject the leave request. The employee fills out these two fields and then clicks "save". After clicking "save", the employee’s time-off request is added to his calendar and submitted to his manager for approval. It’s that simple!
    </p>
    <p>
    In addition to saving new attendance changes, the calendar also functions as a tool to modify already submitted schedule events. A co-worker can click on an event to change the categorization of the time-off request or description. Changing the time of an event on the calendar is also easy. Simply click on an event on the calendar and drag it to the desired date or time to change the schedule. When an employee releases his mouse, the calendar is updated and the schedule change is saved instantly. Additionally, an event’s time can be lengthened or shortened by clicking on the bottom of the event and dragging the mouse to the desired event length.
    </p>
    <p>
    The second attendance calendar view is reserved for a co-worker who has been assigned a manager role. Managers are given a second calendar view that shows the schedule for each employee that they manage by month, week, or day. Employee time-off is color coded by type of request (sick, vacation, personal, etc.) and labeled with an employee’s name. With this view, managers can stay on top of their management responsibilities by always having a way to check their employees’ schedules.
    </p>
    <p>
    The final attendance view gives a look into employee schedules for the entire company. Zarlu customers can easily see who will be in the office, who’s out sick, and who’s on vacation with a single click. The company calendar brings transparency to a business by allowing overview of employee schedules. This view also has a monthly, weekly, or daily view option to let Zarlu customers choose the view that best fits their needs.
    </p>
    <p>
    In addition to the daily, weekly, and monthly views, Zarlu can be used to look at employee attendance from the past or into the future. This feature is an excellent tool for a business to use employees’ past attendance patterns to predict when they will take off time in the future. For example, if several employees have used vacation time for July 4th for the past few years, a manager can suggest not hosting the company retreat on July 4th since the attendance data Zarlu provides shows that employees enjoy using the July 4th week for vacations. The event can be scheduled for a different week and a company’s employees can continue to enjoy their annual summer vacation. A "win-win" for both company morale and time management! Zarlu provides all of the above mentioned benefits while also being accessible from any web-enabled device from anywhere in the world. Business attendance software has never been more efficient, accessible, and intuitive.
    </p>
  </div>
<% end %>
