<% content_for :title do %>
Types Of Employee Time Off
<% end %>
<div class="blog">
  <h1 class='center' id='types_of_employee_time_off'>Types of employee time off</h1>
<hr />
<p>In this diverse society we live in, more employees are requesting, and often receiving, additional time off work. A typical worker may want to schedule time off for a variety of personal reasons. Some companies are turning to tracking software to schedule time requested off by each employee to avoid calendar confusion and complications.</p>

<p>The most common time requested off involves traditional holidays. New Year&#8217;s, Martin Luther King Day, Presidents Day, Memorial Day, Independence Day, Labor Day, Columbus Day, Thanksgiving, and Christmas are the most common calendar days when employees expect not to work and yet be paid. Not every business will pay for holidays like Martin Luther King Day, Presidents Day, and Columbus Day, however, as those have more of a historical or political connotation.</p>

<p>Some workers request time off as sick days. These are usually counted against an attendance record. A business might count two hours of work a person takes off for a doctor&#8217;s visit as part of a sick day. Tracking partial days can be tricky, which is why a software program can be so helpful in monitoring attendance. Taking whole or partial days off for a sick spouse or child is usually counted as the employed person&#8217;s sick day.</p>

<p>Many companies will track time taken to arrive late or leave early, whether or not a timecard is used. Long lunches may be deducted from the workday total, as well. Rather than track these detailed scheduling adjustments manually, it is easier to plug the numbers into a computer application and let it tabulate the results.</p>

<p>Occasionally a worker may request a day off for an uncommon event, like a child&#8217;s school activity, music recital, or sports competition. These activities will need to be designated as an acceptable category in order for the employed person to be paid. Otherwise these absences may be considered as &#8220;personal days,&#8221; which some companies recognize and pay for, while others do not.</p>

<p>Deciding who gets paid for which absences, and who will not be paid, needs to be spelled out in company policy. The right computer program can make sure every minute of every workday for every worker is accounted for and paid accordingly. This is an important function with the company, as unpaid workers tend to become unhappy workers. If there is a misunderstanding about company policy, it should be ironed out as soon as possible. Employees&#8217; attendance and absenteeism can be managed competently with a professional computer application.</p>
  <div class="mt50 center">
    <a class="btn btn-primary btn-huge" href="http://www.zarlu.com">Zarlu: Employee Time Off Software</a>
  </div>
</div>
