<% content_for :title do %>
Improved Employee Management
<% end %>
<div class="blog">
  <h1 class='center' id='imrpoved_employee_management'>Imrpoved Employee Management</h1>
<hr />
<p>I have just released to all free and paid customers a completely redesigned employee management page. After analyzing how our customers used our old interface and brainstorming how to make managing employees a more efficient process, the Zarlu team has worked hard over the past week to build a new page from scratch. The new employee page has all of the old page&#8217;s features with additional features added to give more information to our customers.</p>

<p>The employee page&#8217;s key feature is to allow our customers to add employees to their Zarlu account as efficiently as possible. You simply enter the new employee&#8217;s email address,a temporary password, and click add. The employee can then sign into Zarlu with the credentials an employee schedule manager used to create their account. There are no extra steps to confirm the given email address, or forms to fill out. When you click add, we take you directly back to the employee page with an account created message so that you can easily add multiple employees to Zarlu in seconds while still knowing that each employee account was created successfully.</p>

<p>Below the add employee form is a list of all employees and managers for your company. Our software sorts your employees alphabetically by email or name depending on whether the employee has added their name to their account or not. Next to the employee&#8217;s name is an avatar that is hosted by Gravatar, so you can see a small photo of the employee.Have two employees with similar names? By seeing a photo next to the employee&#8217;s name, our software has solved any identity confusion for schedule managers or human resources.</p>

<p>Immediately to the right of the employee&#8217;s name and photo is the name or email of the schedule manager who will approve or reject an employee&#8217;s time-off requests. Next to the manager&#8217;s name is an edit icon which will give the account manager the ability to assign a different manager to an employee without even leaving or refreshing the page. Simply click on the edit icon and choose a manager from a dropdown list of managers. Zarlu auto saves your selection for you and keeps you on the page so that you can assign a manager to each employee in seconds.</p>

<p>To the right of the manager&#8217;s name, Zarlu provides a breakdown of all the time-off an employee has taken in the past year broken down by category. See how many vacation, sick, holiday, personal, unpaid, or misc leave an employee has used in the past year, or compare employee paid leave. Employee business software has never been this transparent!</p>

<p>The improved employee management page has been built with the latest web technologies so our customers can make changes in seconds. It has a clean, modern, and sleek design to allow business managers or hr to easily navigate and view employee information. The employee management tour has also been updated, so that our customers can always get a quick one minute refresher if they need to remember how to get the most out of the employee management page.</p>

<p>Sign up for a free account today, and try our new employee management page. Let us know what your think!</p>
  <div class="mt50 center">
    <a class="btn btn-primary btn-huge" href="http://www.zarlu.com">Zarlu: Employee Time & Attendance Software</a>
  </div>
</div>
