<% content_for :title do %>
The Pros And Cons Of Unlimited Time Off Policies
<% end %>
<div class="blog">
  <h1 class='center' id='the_pros_and_cons_of_unlimited_time_off_policies'>The Pros And Cons Of Unlimited Time Off Policies</h1>
<hr />
<p>Unlimited time off policies have recently started trending as many companies have found it a good way to motivate their employees during the time that they&#8217;re there. There are positives and negatives to this type of policy that need to be considered before a business decides to use it. Since it is such a radical shift from the traditional time off schedule it can be difficult for both employees and companies to adjust to.</p>

<p>With an unlimited time off policy, a business does not track their staff&#8217;s vacation days or attendance, but rather let&#8217;s them take their personal time when they choose. This means that the staff no longer have to worry about looking towards the calendar when they want to schedule a vacation, they simply have to tell the company or log something into the tracking software. The company can still, if they choose, mark off some days on the calendar as mandatory for attendance&#8211;for instance, a particular busy season when they make the most sales or have the highest client volume.</p>

<p>For companies, this type of policy allows them to forgo tracking attendance and leave everything up to their staff member&#8217;s discretion. Software can still be used to track their staff&#8217;s working hours and, if necessary, billable time.</p>

<p>While some companies may believe that their staff would take advantage of the policy, companies that have initiated it haven&#8217;t found any problems. Contrary to this, they&#8217;ve actually found that their staff tend to be more motivated towards work. Even though the staff can take as many vacation days as they choose, they still need to fulfill their work duties. It&#8217;s this need to fulfill the work duties and keep everything operating smoothly that calls them back to the office.</p>

<p>A policy like this puts emphasis more on accomplishments and not hours put in. Many of the hours that a staff member puts in when they don&#8217;t feel motivated are actually wasted hours. By putting an emphasis on accomplishments, this pushes the staff members to focus on achieving goals and completing projects and not simply running down the clock. That said, these policies have been largely tested on staff members that have a high degree of accountability and control over their work, rather than entry-level positions.</p>

<p>Whether an unlimited vacation policy would work for your company is based on your company and staff&#8217;s culture. If your staff are generally happy, motivated, and eager to get the job done then an unlimited vacation policy will probably increase productivity. It can also be used along with flex-time to offer a truly customized work experience. While unconventional, such a system allows trusted staff members to work when they know they will be the most effective, and take their hours and days when they know they feel unmotivated.</p>

<p>If a system does carry out unlimited vacation days, however, the company does need to have a firm system of monitoring whether projects are being completed the right way and by the deadlines. Otherwise there will be no way of judging the increased efficiency.</p>
  <div class="mt50 center">
    <a class="btn btn-primary btn-huge" href="http://www.zarlu.com">Zarlu: Employee Time Off Software</a>
  </div>
</div>
