<h2>Pending schedule changes</h2>
<% if @pending_events.present? %>
<table class="table table-striped">
  <thead>
    <th>Submitted</th>
    <th>Subject</th>
    <th>Description</th>
  </thead>
  <tbody>
    <%= render partial: "event", collection: @pending_events %>
  </tbody>
</table>
<% else %>
<h5>You have no pending schedule requests. To start adding requests go to the calendar page. If your account manager did not assign you a manager, your requests are auto approved.</h5>
<% end %>
<h2>Rejected schedule changes</h2>
<% if @rejected_events.present? %>
<table class="table table-striped">
  <thead>
    <th>Submitted</th>
    <th>Subject</th>
    <th>Description</th>
  </thead>
  <tbody>
    <%= render partial: "event", collection: @rejected_events %>
  </tbody>
</table>
<% else %>
<h5>Congratulations. None of your events have been rejected. If you submit a request and your manager rejects the request, it will show up on this page.</h5>
<% end %>
