<% content_for :title do %>
Creating The Best Time Off Tracking Software
<% end %>
<div class="blog">
  <h1 class='center' id='time_off_tracking_software'>Time Off Tracking Software</h1>
<hr />
<p>Time off tracking software should be easy. You shouldn&#8217;t have to think about how to submit a time off request. It should be as simple as possible so that you can work on the tasks that need your attention. At Zarlu, we have designed in our opinion the best software for tracking employee time off requests. Each of your employees will receive a subscription to Zarlu when you sign up for an account, and they will be able to use our fully functional calendar, and notification system to easily manage their work schedules.</p>

<h2 id='easily_approve_time_off_requests'>Easily approve time off requests</h2>

<p>In addition to developing easy to use software for employees, we focused on developing an intuitive software application for managers and Human Resources to easily manage employee time off requests. What good is a great employee system if managers and Human Resources can&#8217;t manage time off requests efficiently? At Zarlu, we thought about what would be best for your account from inception to daily use. The first step was to create a way to set up your account and to group employees by the manager or Human Resources personnel responsible for approving an employee&#8217;s schedule and calendar changes. To solve this Zarlu provides an easy drag and drop interface for you to enter and group up to 150 employees without having to even change pages! Zarlu&#8217;s setup is incredibly quick. Simply add an employee, which only needs an email and temporary password, and then drag them underneath the manager who will approve or reject their time off requests. It&#8217;s that simple.</p>

<h2 id='email_time_off_requests'>Email time off requests</h2>

<p>We took simplifying submitting time off requests beyond what other time off tracking software offers by allowing any employee to submit a time off request without even signing into Zarlu. In fact, the staffer does not even have to have a web browser open. To send a time off request, simply send an email to timeoff@mail.zarlu.com with a subject in the MM/DD/YY or MM-DD-YY format and we will add time off request directly to the employee&#8217;s calendar and notify the manager or Human Resources employee to approve or reject the request. The employee can also add a message in the email&#8217;s message field to give an explanation for the request to the employee from your company who is tracking time off requests. No need to submit a time off request through a website and then send an email to a manager. We do both tasks at once whether you are logged into www.zarlu.com or sending an email from your phone.</p>

<p>We hope we have given you a helpful walk through of our time off tracking features. Feel free to contact us by clicking on the support link above if you have any questions about time off tracking or any other features of Zarlu. Click on the link below to get started with one of our free or paid plans if you haven&#8217;t already. We offer a free 30 day trial that does not require a credit card, which gives you the freedom to make sure Zarlu fits your needs!</p>
  <div class="mt50 center">
    <a class="btn btn-primary btn-huge" href="http://www.zarlu.com">Zarlu: Employee Time & Attendance Software</a>
  </div>
</div>
