<% cache activity do %>
  <% user = activity.trackable.user %>
  <% manager = @managers.detect{|m| m.id == user.manager_id} %>
  <li>
  <span class="activity_date"><%= activity.created_at.strftime('%b %d') %></span>
  <span class="activity_gravatar"><%= image_tag gravatar_url(manager), class: "img-circle", width: 50, height: 50 %></span>
  <strong class="label label-important">Rejected</strong>&nbsp;<%= manager.email.capitalize %> has rejected <%= user.email %>'s time off request.
  <hr/>
  </li>
<% end %>
