<% cache activity do %>
  <li>
  <span class="activity_date"><%= activity.created_at.strftime('%b %d') %></span>
  <span class="activity_gravatar"><%= image_tag gravatar_url(activity.user), class: "img-circle", width: 50, height: 50 %></span>
  <strong class="label label-info">Update</strong>&nbsp;<%= activity.user.email.capitalize %> modified a time off request
  <hr/>
  </li>
<% end %>



