<% cache activity do %>
  <li class="alert alert-info">
  <i class="icon-edit"></i>&nbsp;<%= activity.user.email %> modified a time off request
  <i class="icon-time"></i>
  <small><%= time_ago_in_words(activity.created_at) %> ago</small>
  </li>
<% end %>



