<% content_for :title do %>
  Zarlu Features
<% end %>
<% content_for :meta_description do %>
  Zarlu offers a plethora of features for businesses ranging from startups to Fortune 500 companies.
<% end %>
<% cache "homes_features" do %>
  <div class="blue_paper fixed o98">
    <div class="container">
      <h1 class="center">Feature Tour</h1>
    </div>
  </div>
  <div class="white_paper fixed feature_toolbar mt60 o98">
    <div class="container">
      <section class="mt5 center features_select">
      <div class="row">
        <div class="span3 scroll_link" id="attendance">
          <p><i class="icon-calendar icon-4x"></i></p>
          <h4>Attendance</h4>
        </div>
        <div class="span3 scroll_link" id="data">
          <p><i class="icon-bar-chart icon-4x"></i></p>
          <h4>Data Analysis</h4>
        </div>
        <div class="span3 scroll_link" id="customization">
          <p><i class="icon-cogs icon-4x"></i></p>
          <h4>Customization</h4>
        </div>
        <div class="span3 scroll_link" id="technology">
          <p><i class="icon-beaker icon-4x"></i></p>
          <h4>Technology</h4>
        </div>
      </div>
      </section>
    </div>
  </div>
  <div class="container paper mt50 pt180">
    <section>
    <h2 class="center" id="attendance_header"><i class="icon-calendar icon-2x"></i>&nbsp;&nbsp;Attendance</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-calendar icon-large"></i>&nbsp;&nbsp;Calendar</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-time icon-large"></i>&nbsp;&nbsp;Time</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-male icon-large"></i>&nbsp;&nbsp;Individual</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-group icon-large"></i>&nbsp;&nbsp;Manager</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    </section>
  </div>
  <div class="container paper mt50">
    <section>
    <h2 class="center" id="data_header"><i class="icon-bar-chart icon-2x"></i>&nbsp;&nbsp;Data Analysis</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-bar-chart icon-large"></i>&nbsp;&nbsp;Charts</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-dashboard icon-large"></i>&nbsp;&nbsp;Dashboard</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-money icon-large"></i>&nbsp;&nbsp;Savings</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-exchange icon-large"></i>&nbsp;&nbsp;Exchange Data</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    </section>
  </div>
  <div class="container paper mt50">
    <section>
    <h2 class="center" id="customization_header"><i class="icon-cogs icon-2x"></i>&nbsp;&nbsp;Customization</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-list-alt icon-large"></i>&nbsp;&nbsp;Settings</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-building icon-large"></i>&nbsp;&nbsp;Company</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-phone icon-large"></i>&nbsp;&nbsp;Future</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-filter icon-large"></i>&nbsp;&nbsp;Filter</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    </section>
  </div>
  <div class="container paper mt50">
    <section>
    <h2 class="center" id="technology_header"><i class="icon-beaker icon-2x"></i>&nbsp;&nbsp;Technology</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-lock icon-large"></i>&nbsp;&nbsp;Security</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-fast-forward icon-large"></i>&nbsp;&nbsp;Speed</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-cloud icon-large"></i>&nbsp;&nbsp;Cloud Storage</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
        <p></p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-leaf icon-large"></i>&nbsp;&nbsp;Green</h3>
        <p class="left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque enim, semper nec libero non, iaculis lobortis tellus. Vestibulum faucibus tincidunt adipiscing. Integer molestie vel velit sed congue. Integer at felis luctus, iaculis sem a, sollicitudin dui. Proin facilisis orci ut augue placerat, a consectetur tellus feugiat. Suspendisse potenti. Pellentesque consectetur dapibus condimentum. Vivamus purus metus, euismod vestibulum suscipit vitae, imperdiet non ligula. Nullam feugiat eget lorem id porta.
        </p>
      </div>
    </div>
    </section>
    <div class="mt40">
      <%= link_to "I want to improve my company's time & attendance process!", new_user_registration_path, class: "btn btn-success btn-huge btn-block" %>
    </div>
  </div>
<% end %>
