<% content_for :title do %>
  Zarlu Features
<% end %>
<% content_for :meta_description do %>
  Zarlu offers a plethora of features for businesses ranging from startups to Fortune 500 companies.
<% end %>
<% cache "homes_features" do %>
  <div class="blue_paper fixed o98">
    <div class="container">
      <h1 class="center">Feature Tour</h1>
    </div>
  </div>
  <div class="white_paper fixed feature_toolbar mt60 o98">
    <div class="container">
      <section class="mt5 center features_select">
      <div class="row">
        <div class="span3 scroll_link" id="attendance">
          <p><i class="icon-calendar icon-4x"></i></p>
          <h4>Attendance</h4>
        </div>
        <div class="span3 scroll_link" id="data">
          <p><i class="icon-bar-chart icon-4x"></i></p>
          <h4>Data Analysis</h4>
        </div>
        <div class="span3 scroll_link" id="customization">
          <p><i class="icon-cogs icon-4x"></i></p>
          <h4>Customization</h4>
        </div>
        <div class="span3 scroll_link" id="technology">
          <p><i class="icon-beaker icon-4x"></i></p>
          <h4>Technology</h4>
        </div>
      </div>
      </section>
    </div>
  </div>
  <div class="container paper mt50 pt180">
    <section>
    <h2 class="center" id="attendance_header"><i class="icon-calendar icon-2x"></i>&nbsp;&nbsp;Attendance</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-calendar icon-large"></i>&nbsp;&nbsp;Calendar</h3>
        <p class="left">
          Zarlu provides each employee with a fully featured calendar that can be viewed by month, week, or day. Every calendar comes equipped with color coded events to allow an employee or manger to instantly now which type of time off has been scheduled on the calendar. The calendar allows leave to be schedule in as small as 15 minute increments to several days. The calendar functions as a beautiful helpful scheduler for every employee of a company.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-time icon-large"></i>&nbsp;&nbsp;Time</h3>
        <p class="left">
        Mearsuing employee time is an important metric for every business. Zarlu provides the ability for a business to track employee time off usage for vacations, sick days, holidays, personal days, unpaid days, and other time off classifications. Zarlu allows a manager to set time off accrual rates based on an employee's time with a company, which will automatically adjust as an employee stays with a company. Zarlu allows businesses to set accrual caps that will stop time off accrual after a predefined.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-male icon-large"></i>&nbsp;&nbsp;Employee</h3>
        <p class="left">
          Every employee of your business receives a Zarlu account. Members of your organization who do not approve co-workers' time off are designated employees. Employees are able to submit time off, view approved or rejected time off requests, schedule events with their personal calendar, view a history of time off requests and their schedule changes, and personalize their account with a photo. By giving each employee to manange their own schedule, Zarlu streamlines the attendance process for managers by eliminating the need to manually enter their co-workers time off requests and schedule changes. A huge productivity boost for your a business.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-group icon-large"></i>&nbsp;&nbsp;Manager</h3>
        <p class="left">
          Any employee in your business who approves or rejects other co-worker attendance requests is designated as a manager in Zarlu. A manager can view their employees’ time off history, manage accrual totals and accrual rates, customize Zarlu’s attendance rules to fit their business’s guidelines, view charts of how employees are using leave, and much more. A manager in addition to their managerial features has full access to the same features as employees, which allows for businesses with hierarchies to structure their approval process in Zarlu.
        </p>
      </div>
    </div>
    </section>
  </div>
  <div class="container paper mt50">
    <section>
    <h2 class="center" id="data_header"><i class="icon-bar-chart icon-2x"></i>&nbsp;&nbsp;Data Analysis</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-bar-chart icon-large"></i>&nbsp;&nbsp;Charts</h3>
        <p class="left">
        Zarlu provides managers with stunning charts of employee time off usage that provide meaningful representations of attendance data that eliminate the need for managers to use 3rd party spreadsheet software to create charts and graphs. With Zarlu, every chart is up to date  the minute it is viewed with the latest attendance data.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-dashboard icon-large"></i>&nbsp;&nbsp;Dashboard</h3>
        <p class="left">
        Zarlu provides every user with a customized dashboard that provides feedback of what steps an employee needs to complete to setup their account. Zarlu's dashboard is geared towards making sure that each employee is fully taking advantage of all the features a Zarlu subscription provides.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-money icon-large"></i>&nbsp;&nbsp;Savings</h3>
        <p class="left">
        Zarlu's automatic data reporting is a terrific convenience for a business. Instead of using complex spreadsheet programs, Zarlu provides a simple interface directly in each manager subscription that provides live real time data. No more updating spreadsheets or csvs for days on a quarterly/yearly basis, which quickly become out of dated. Save employee hours and 3rd party software fees. Zarlu provides an all in one solution at a flat rate with no hidden fees.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-exchange icon-large"></i>&nbsp;&nbsp;Data Communication</h3>
        <p class="left">
          Data is information, and having your companies attendance data stuck in a desktop program that one person has access to is a tremendous loss of information. With Zarlu, attendance data is readily available for any manager who wishes to look up the attendance history of of one of his or her employees. Zarlu brings your data out of hiding an presents it an easy to understand and stunning way.
        </p>
      </div>
    </div>
    </section>
  </div>
  <div class="container paper mt50">
    <section>
    <h2 class="center" id="customization_header"><i class="icon-cogs icon-2x"></i>&nbsp;&nbsp;Customization</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-list-alt icon-large"></i>&nbsp;&nbsp;Settings</h3>
        <p class="left">
        Every business is provided a company settings page that allows you to customize your business’s subscription to follow time off policies. Managers can enable or disable different types of time off that your business may offer. Managers can set accrual limits, accrual frequencies, the next date of time off accrual, accrual rates by years with company, and more for each type of time off your business offers.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-building icon-large"></i>&nbsp;&nbsp;Company</h3>
        <p class="left">
        It’s important for employees and managers to know who is going to know the schedules of their co-workers so that they can schedule their day in the most efficient way possible. If Suzy, is out of the office from 10-11, Jim should know not to schedule his meeting with Suzy for that time slot. Zarlu provides each employee with a company calendar to eliminate schedule miscommunications.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-phone icon-large"></i>&nbsp;&nbsp;Feedback</h3>
        <p class="left">
        We take customer feedback very seriously and listen to your customers support request or wish list features. Our incredibly skilled development team tries to integrate new major features into our subscriptions on a weekly basis.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-filter icon-large"></i>&nbsp;&nbsp;Filter</h3>
        <p class="left">
          Zarlu offer fine grained filters to empower managers to view meaningful information about their employees' attendance. Zarlu offers filters by individual employee, employees who are managed by a manager, and company wide data. Managers can use these filters to view calendars or attendance history.
        </p>
      </div>
    </div>
    </section>
  </div>
  <div class="container paper mt50">
    <section>
    <h2 class="center" id="technology_header"><i class="icon-beaker icon-2x"></i>&nbsp;&nbsp;Technology</h2>
    <hr/>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-lock icon-large"></i>&nbsp;&nbsp;Security</h3>
        <p class="left">
        Zarlu uses all the best practices for web security. Every webpage only allows connections using the HTTPS protocol. By using the HTTPS protocol, Zarlu provides the same protocol as banks. Every page on Zarlu is encrypted with a 256 bit encryption algorithm that ensures that your information and activity is private and can not be intercepted by hackers. All user passwords are encrypted and hashed to ensure only you can view your password and no one else. Zarlu leads attendance software in security for our customers and privacy.
        </p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-fast-forward icon-large"></i>&nbsp;&nbsp;Speed</h3>
        <p class="left">
        Zarlu leverages the latest technologies to deliver you a speedy, modern web application. Our developers follow the latest software developments and contribute to open source software to further web technology. Our job is to make our software as fast as possible so that we can empower our users to make attendance changes and eliminate the dreaded “my computer is thinking” wait times that plague other web applications.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="offset1 span5 center">
        <h3><i class="icon-cloud icon-large"></i>&nbsp;&nbsp;Cloud Storage</h3>
        <p class="left">
        Cloud storage is the best way to store company data in a secure and accessible way. Unlike traditional backups, Zarlu’s cloud storage eliminates the risk of theft, natural disasters, or damaged external hard drives resulting in the loss of sensitive business data. Zarlu backs up for data on a daily basis and can restore data in the unlikely event of disk failure in minutes.  Additionally, Zarlu’s cloud storage allows you to access your data from any web enabled device. Your data is platform agnostic.
        </p>
        <p></p>
      </div>
      <div class="offset1 span5 center">
        <h3><i class="icon-leaf icon-large"></i>&nbsp;&nbsp;Green</h3>
        <p class="left">
        Our software provides a paperless alternative to the illegible, whiteout ridden system of paper attendance. Zarlu provides a much more manageable solution than a stack of papers. Lower your company’s environmental footprint by using our paperless system that requires no print outs. Help save our environment from deforestation, and reduce your business's supply costs by lowering your dependency on paper, toner, pens, whiteout, erasers, and more which may contain materials toxic to the environment.
        </p>
      </div>
    </div>
    </section>
    <div class="mt40">
      <%= link_to "I want to improve my company's time & attendance process!", new_user_registration_path, class: "btn btn-success btn-huge btn-block" %>
    </div>
  </div>
<% end %>
