<div class="image_wrap">
  <div class="splash_image">
    <div class="container">
      <h1>Employee Time & Attendance Software</h1>
      <div class="row">
        <div class="span5 left">
          <div class="ml15">
            <h3>Free and Paid Plans include:</h3>
            <ul>
              <li><h4>Employee & Manager accounts</h4></li>
              <li><h4>Calendar for each Employee</h4></li>
              <li><h4>Employee Attendance Tracker</h4></li>
              <li><h4>Company Schedule Changes Feed</h4></li>
              <li><h4>Group Employees by Manager</h4></li>
              <li><h4>Tour on every page. No confusion.</h4></li>
              <li><h4>And much more!</h4></li>
            </ul>
            <br/>
            <%# link_to "Features", "", class: "btn btn-info btn-huge" %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "Start Now", new_user_registration_path, class: "btn btn-success btn-huge" %>
          </div>
        </div>
        <div class="span7">
          <%= image_tag "time_calendar.png", width: 500, height: 376, alt: "Employee Attendance Calendar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt25">
  <div class="row center ml15">
    <div class="span4">
      <h3>Time & Attendance</h3>
      <div class="left">
        <h4 class="underline center">Employee Software</h4>
        <p class="feature_explanation">
        Zarlu's software boosts employee productivity and morale.
        Our software allows employees to spend less time submitting schedule changes.
        Zarlu software is designed to make attendance changes as easy as possible.
        </p>
      </div>
    </div>
    <div class="span4">
      <h3>Employee Calendars</h3>
      <div class="left">
        <h4 class="underline center">Employee Software</h4>
        <p class="feature_explanation">
        Each employee account has access to their own daily, weekly, and monthly calendar.
        Events as short as fifteen minutes or as long as several days can be created.
        Schedule changes can be created & submitted in less than 5 seconds!
        </p>
      </div>
    </div>
    <div class="span4">
      <h3>Easy Business Software</h3>
      <div class="left">
        <h4 class="underline center">Employee Software</h4>
        <p class="feature_explanation">
        Make schedule changes by logging into Zarlu from any web enabled device.
        Additionally, Zarlu provides employees the ability to send employee attendance changes via email.
        Employees can email a time off request and we'll add it to your calendar and notify your manager about your time off.
        </p>
      </div>
    </div>
  </div>
  <div class="row center ml15">
    <div class="span4">
      <div class="left">
        <h4 class="underline center">Business Managers</h4>
        <p class="feature_explanation">
        Tracking and Managing employee attendance & time should be as easy to use as possible.
        Businesses should be able to manange time off requests stress free.
        Zarlu provides managers with easy to use software to save your business time and money!
        </p>
      </div>
    </div>
    <div class="span4">
      <div class="left">
        <h4 class="underline center">Business Managers</h4>
        <p class="feature_explanation">
        Managers can view the schedule changes that each of their employees submits.
        Managers will receive a notification to approve or reject their co-workers time off.
        Approve or Reject an employee schedule change in less than 5 seconds!
        </p>
      </div>
    </div>
    <div class="span4">
      <div class="left">
        <h4 class="underline center">Business Managers</h4>
        <p class="feature_explanation">
        With all your data is in the cloud, managers can view all attendance changes from as recent as a minute ago or from anytime since you joined Zarlu.
        View attendance records your the employees your oversee or even the entire business. Zarlu brings transparency to attendance management.
        </p>
      </div>
    </div>
  </div>
  <div class="row mt30 mb20 ml15">
    <div class="span12">
      <%= link_to "I want to improve my company's time & attendance process!", new_user_registration_path, class: "btn btn-success btn-huge btn-block" %>
    </div>
  </div>
</div>
