<div class="container paper">
  <div id="calendar"></div>
  <div id="event_dialog" class="dialog ui-helper-hidden">
    <form id="dialog_form">
      <div>
        <label>Title:</label>
        <input id="title" class="field" type="text"></input>
      </div>
    </form>
  </div>
</div>
