<% content_for :title do %>
Zarlu Employee Calendar and Scheduler Goes Live
<% end %>
<div class="blog">
  <h1 class='center' id='zarlu_employee_time_off_tracking_software'>Zarlu Employee Time Off Tracking Software</h1>
<hr />
<p>After months of hard work, we are proud to officially announce the release of Zarlu. We started working on Zarlu after experiencing the frustration of submitting time off requests using traditional employee scheduling software. We found exisiting software to be clunky, dated, and hard to use. Submitting a time off request should be easy. Viewing a schedule for a month, week, or day should be easy. Having a calendar to view a schedule is a requirement for a great personnel scheduling software. We decided we could design a web application that made taking time off a better experience for the employee and the business. We wanted something better then what currently exists!</p>

<p>With Zarlu, we tried to make a scheduling application that we would want to use on a daily basis. Our top three priorities were ease of use, speed, and convenience. For speed, Zarlu was developed using the latest web development techniques to allow pages and information to load as quickly as possible. The majority of Zarlu is rendered on our server in less than 100ms. Yes, you read that right. We measure your time in milliseconds because that&#8217;s how much we care about delivering excellent software. Sub 200 millisecond response times are synonomous with &#8220;instant&#8221; in the software industry. With Zarlu, you will never have to wait around staring at a spinner or indefinite progress bar while your computer &#8220;thinks&#8221;.</p>

<p>In our top three priorities for Zarlu, we also mentioned convenience. We have developed a feature that allows you to send a time off request directly from your email account whether on your phone at the top of a ski slope, on your iPad laying in bed while recovering from the flu, or on your notebook at work. No logging in is required. Just email us at timeoff@mail.zarlu.com with your work email and we will add your time off request to your calendar and notify your manager to approve or reject your request. That&#8217;s it!</p>

<p>Finally, ease of use was our third goal in our trifecta of priorites for developing calendar and scheduler software. We have developed our calendar to use a simple drag and drop interface to make modifying or adding events as simple as possible. Need to extend an event on your calendar? Simply click on it and drag your mouse to the desired time. Zarlu will save the event to your schedule when you let go of the mouse. How easy is that?</p>

<p>We look forward to hearing your feedback of what Zarlu can do to make scheduling even easier for you! Click on the link below to try Zarlu for yourself if you haven&#8217;t already. Our lowest plan is free to try for one month.</p>
  <div class="mt50 center">
    <a class="btn btn-primary btn-huge" href="http://www.zarlu.com">Zarlu: Employee Time & Attendance Software</a>
  </div>
</div>
