<h5><%= manager.display_name %> approves:</h5>
<ul class="unstyled sortable" data-manager_id="<%= manager.id %>">
  <%= render partial: "subscribers/employee", collection: manager.employees, as: :employee %>
</ul>
