<% cache user do %>
  <li class="alert alert-info" data-user_id="<%= user.id %>">
  <%= user.display_name %>
  <%= link_to "Manager", promote_to_manager_subscribers_path(user_id: user), method: :put, class: "btn btn-info btn-mini float_right" unless user.manager? %>
  </li>
<% end %>
