body.activities_index {
  ul.nav-pills {
    margin-left: auto;
    margin-right: auto;
    width: 440px;
  }
}

ul#activity_feed {
  li {
    font-size: 16px;
    line-height: 32px;
  }
}

.activity_date, .activity_gravatar {
  padding-right: 15px;
}
