@import "bootstrap";
@import "jquery-ui-1.9.2-custom";
@import "fullcalendar";
@import "calendar";
@import "global";
@import "button";
@import "navbar";
@import "home";
@import "plan";
@import "blog";
@import "activities";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #333;
  text-decoration: none;
}

