@import "bootstrap";
@import "jquery-ui-1.9.2-custom";
@import "fullcalendar";
@import "calendar";
@import "global";
@import "button";
@import "navbar";
@import "home";
@import "plan";
@import "blog";
@import "activities";
@import "welcome";
@import "employee";
@import "chart";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #333;
  text-decoration: none;
}

#green_slider .ui-slider-range {
  background: #8ae234;
}

#green_slider .ui-slider-handle {
  border-color: #8ae234;
}

#error_explanation {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #eed3d7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2dede;
  color: #b94a48;
}
