@import "bootstrap";

// Responsive styles go here in case you want them
@import "bootstrap-responsive";
@import "global";
@import "devise";
@import "home";

.navbar, .navbar-inner {
  background: transparent !important;
  border: none;
  box-shadow: none;

  li {
    margin-right: 60px;
    text-align: center;

    a {
      font-size: 18px;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #333;
  text-decoration: none;
}

