.calendar {
  span.fc-button-inner, span.fc-button{
    background-repeat: none !important;
    background-color: #006CCC !important;
    color: #FFF !important;
    border: none !important;
    border-radius: 5px;
    height: 25px;
    margin-right: 5px !important;
  }

  .fc-state-default .fc-button-effect {
    top: 0;
  }
}

body.homes_show {
  ul.nav-pills {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}

