.btn-huge {
  padding: 15px 35px;
  font-size: 25px;
  line-height: 28px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blog {
  font-size: 1.35em;
  line-height: 1.60em;
  font-weight: 300;
}

.mb20 {
  margin-bottom: 20px;
}

.height_25{
  height: 25px;
}

.height_220 {
  height: 220px;
}

.height_395 {
  height: 395px;
}

.height_285 {
  height: 285px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.pt5 {
  padding-top: 5px;
}

.pt25 {
  padding-top: 25px;
}

.pt50 {
  padding-top: 50px;
}

.ml30 {
  margin-left: 30px;
}

.mb15{
  margin-bottom: 15px;
}

.mt5{
  margin-top: 5px;
}

.mt25 {
  margin-top: 25px;
}

.mt50 {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.v-align-top {
  vertical-align: top;
}

h2 {
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}
.alert p {
  text-align: center;
}

.sortable {
  min-height: 100px;
}

.btn-enormous {
  padding: .6em 4em !important;
}

.border_bottom {
  border-bottom: 2px solid !important;
}
