.btn-huge {
  padding: 15px 35px;
  font-size: 25px;
  line-height: 28px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.height_225 {
  height: 225px;
}

.height_370 {
  height: 370px;
}

.height_290 {
  height: 290px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.pt5 {
  padding-top: 5px;
}

.pt25 {
  padding-top: 25px;
}

.pt50 {
  padding-top: 50px;
}

.ml30 {
  margin-left: 30px;
}

.mt25 {
  margin-top: 25px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.v-align-top {
  vertical-align: top;
}

h2 {
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}
.alert p {
  text-align: center;
}
