div.white_paper {
  background: #FFF;
  border-radius: 3px;
  width: 100%;
}

div.blue_paper {
  width: 100%;
  color: #FFF;
  background: -moz-linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  background: -webkit-linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  background: linear-gradient(top, #53b7f9 0%, #028ed1 100%);
}

div.sign_up_banner {
  width: 100%;
  color: #FFF;
  background: -moz-linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  background: -webkit-linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  background: linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  z-index: 10;
  display: none;
  font-size: 22px;
  left: 0;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -15px;
}

div.dark_blue_paper {
  background: #373F4A;
  color: #FFF;
}

.screenshots {
  background-size: 800px 480px;
  background-repeat:no-repeat;
  min-height: 480px;
  background-image: image-url("macbook_air.png");
  width: 800px;
  margin-left: auto;
  margin-right: auto;

  .screenshot {
    padding-top: 52px;
  }
}
.carousel-inner {
  margin-left: 120px;
  width: 562px;
}

.features {
  padding-bottom: 30px;

  .feature_picture {
    width: 400px;
  }

  .feature_text {
    width: 500px;

    p {
      line-height: 25px;
      font-size: 18px;
    }
  }
}

.blue {
  color: #05C;
  font-family: 'Droid Serif', serif;
  font-size: 25px;

  small {
    color: #444;
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
  }
}

header {
  margin-left: 0px !important;
  height: 110px;
  padding-top: 10px;

  h1 {
    margin-left: 15px;
    small {
      display: block;
      font-size: 16px;
      padding-top: 10px;
      color: #FFF;
    }
  }
}

.devise_box {
  width: 420px;
  padding: 25px;
  background: #FFF;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  border-radius: 3px;

  .navigation_link {
    font-size: 20px;
    ul {
      margin-left: auto;
      margin-right: auto;
      width: 370px;
      padding-bottom: 3px;
      border-bottom: 1px solid #0088CC;

      li.active {
        padding-right: 10px;
      }
    }
  }

  form div {
    text-align: center;
    margin-bottom: 15px;

    .btn-large {
      line-height: 1.5;
      font-size: 25px;
      width: 200px;
    }

    .input-xlarge {
      height: 30px;
      font-size: 25px;
      width: 375px;
      line-height: 1.5;
    }
  }
}

.popular_plan {
  color: #FFF;
  margin-top: -40px;
  background: -moz-linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  background: -webkit-linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  background: linear-gradient(top, #53b7f9 0%, #028ed1 100%);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.splash_image {
  background: image-url("midtown.png") no-repeat;
  background-color: #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 50px;
  height: 540px;
  width: 100%;
  text-align: center;
  color: #FFF;

  h1 {
    font-size: 50px;
  }

  h1, h2 {
    margin-top: 20px;
    text-shadow: #000 3px 3px;
  }

  h2 {
    font-weight: 400;
    text-shadow: #000 3px 3px;
    line-height: 2.5
  }

  img {
    margin-top: 20px;
  }
}

.feature_explanation {
  line-height: 25px;
  font-size: 15px;
}

#pricing_questions {
  p {
    font-size: 16px;
    line-height: 25px;
  }
}

#price_slider {
  background-color: #373F4A;
  padding-top: 30px;
  padding-bottom: 65px;
  color: #FFF !important;

  h2 {
    padding-bottom: 20px;
  }
}

#credit_card_information {
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 25px;
}

dt.blue_box {
  background-color: #0668C0;
}

dt.green_box {
  background-color: green;
}

dt.orange_box {
  background-color: #FF5E00;
}

dt.purple_box {
  background-color: purple;
}

dt.red_box {
  background-color: red;
}

dt.black_box {
  background-color: black;
}

dl.color_legend {
  text-align: center;
  margin-bottom: 5px;

  dt, dd {
    display: inline-block;
  }

  dt {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    border-radius: 15px;
  }

  dd {
    margin-left: 2px;
    vertical-align: top;
  }
}

.black_background {
  background-color: #EEE;
  color: #0076CC;
  height: 150px;
}

.quotes {
  h4 {
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
  }
}

h3.important {
  font-size: 30px;
}

.dark_blue_background {
  background-color: #373F4A;
  color: #FFF;
}

.big_paragraph {
  font-size: 18px;
  line-height: 25px;
}

section.features_select {
  div.scroll_link {
    opacity: .75;
  }

  div.scroll_link:hover {
    opacity: 1;
  }
}

body.homes_features {
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  .feature_toolbar {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 1030px;
  }
}

.large_h2 {
  font-size: 45px !important;
}

.demo_video {
  background-size: 900px 516px;
  background-repeat:no-repeat;
  background-image: image-url("demo_screen.png");
  width: 900px;
  height: 516px;
  margin-left: auto;
  margin-right: auto;

  video, img {
    margin-top: 35px;
  }
}

.selected_video {
  color: #0047CC;
}
