div.white_paper {
  background: #FFF;
  border-radius: 3px;
  width: 100%;
}

div.grey_paper {
  background: #F1F3F4;
  border-radius: 3px;
  width: 100%;
}

div.blue_paper {
  background: #373F4A;
  width: 100%;
  color: #FFF;
  padding-bottom: 20px;
}

.screenshots {
  background-size: 800px 480px;
  background-repeat:no-repeat;
  min-height: 480px;
  background-image: image-url("macbook_air.png");
  width: 800px;
  margin-left: auto;
  margin-right: auto;

  .screenshot {
    padding-top: 52px;
  }
}
.carousel-inner {
  margin-left: 120px;
  width: 562px;
}

.features {
  padding-bottom: 30px;

  .feature_picture {
    width: 400px;
  }

  .feature_text {
    width: 500px;

    p {
      line-height: 25px;
      font-size: 18px;
    }
  }
}

.blue {
  color: #05C;
  font-family: 'Droid Serif', serif;
  font-size: 25px;

  small {
    color: #444;
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
  }
}

header {
  margin-left: 0px !important;
  height: 110px;
  padding-top: 10px;

  h1 {
    margin-left: 15px;
    small {
      display: block;
      font-size: 16px;
      padding-top: 10px;
      color: #FFF;
    }
  }
}
