.navbar {
  background-color: #FFF;
  padding: 5px 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  min-width: 1024px;

  .nav_container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }

  .navbar-inner {
    border: none;
    box-shadow: none;
    background: none;
  }
}