.navbar {
  background-color: #FFF;
  padding: 5px 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  min-width: 980px;

  .nav_container {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }

  .navbar-inner {
    border: none;
    box-shadow: none;
    background: none;
  }

  ul.dropdown-menu li {
    margin-bottom: 5px;
  }
}

.homes_pricing, .homes_index {
  .body_without_footer {
    background-color: #FFF;
  }
}

.body_without_footer {
  min-height: 100%;
  height: auto !important;
}

footer {
  background-color: #373F4A;
  color: #FFF;
  height: 320px;
  font-size: 20px;

  .container {
    padding-top: 20px;
  }

  a {
    color: #FFF;
    opacity: .75;
    text-decoration: none;

    &:visited {
      color: #FFF;
      text-decoration: none;
    }

    &:hover {
      color: #FFF;
      opacity: 1;
      text-decoration: none;
    }
  }
  li {
    line-height: 45px;
  }

  p {
    font-size: 22px;
    line-height: 30px;
  }
}
