.plans {
  .span3 {
    background: #F7F6F4;
    min-height: 370px;

    h5 {
      text-align: left;
      padding-left: 15px;
    }
  }
}
.plan_name {
  height: 40px;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

.coach {
  background: #FA9B18;
}

.business {
  background: #51B851;
}

.business_select {
  background: #007ECC;
}

.first_class {
  background: #52BCDA;
}