body.welcomes_show, body.employee_welcomes_show {
  div.welcome_images {
    margin-top: 15px;
    padding-left: 10px;

    img {
      margin-bottom: 20px;
      border: 1px solid #0088CC;
    }
  }
  ul.account_setup {
    li {
      font-size: 25px;
      line-height: 50px;

      a {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    input[type=checkbox] {
      transform: scale(1.75);
      -ms-transform: scale(1.75);
      -moz-transform: scale(1.75);
      -webkit-transform: scale(1.75);
    }
  }
}
